#content{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:24px;
  padding:32px;

}


div{

  /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  */

  background-color: var(--white);
  border-radius:8px;
}


figure img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width:100%;
  display:block;
}

h2{
  all:unset;
  font:var(--spaced-medium-montt);
  letter-spacing:var(--mont-spacing);
  color:var(--grey);

}

h1{
  all:unset;
  display:block;
  font:var(--fraun-bold);
  color:var(--black);
}

#content p{
  font:var(--mont-medium);
  color:var(--grey);
}

#title{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  gap:24px;
}

#price{
  box-sizing: border-box;
  width:100%;
}

#price p{
  display: flex;
  gap:16px;
  justify-content: center;
  align-items: center;
}
#current-price{
  color:var(--green-500);
  font:var(--fraun-bold);
}

#normal-price{
  text-decoration: line-through;
  color:var(--grey);
}

app-cart{
  width:100%;
}

#button{
  width: 100%;
}

app-cart{
  width: 100%;
}

@media(min-width:750px){

  div{
    display:flex;
    justify-content: center;
    align-items: stretch;
  }

  figure{

  }

  figure img{
    height:100%;
    width:100%;
    object-fit: fill;
  }

  #content, figure{
    width: 50%;
  }
  #content{
    box-sizing: border-box;
    width:300px;
  }

  figure img{
    width:300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
  }
}


